// Cores
$color-bg: #faf8f1;
$color-bg2: #faeab1;
$color-primary: #34656d;
$color-hover: #7a9ea3;
$color-link: #114047;

// Espaçamentos
$radius: 0.5rem;
$border-thin: 0.1rem solid;
$font-size-base: 1.5rem;
